.popup__about-oneself-wrapper {
  width: 358px;
  height: 26px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .popup__about-oneself-wrapper {
    width: 238px;
  }
}
