/*@keyframes rise-popup {
  from {
    background: rgba(255, 255, 255, 0);
  }
  to {
    background: rgba(255, 255, 255, 1);
  }
}*/

.popup__container {
  width: 430px;
  z-index: 2;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  /*animation: rise-popup 200ms;*/
}

@media screen and (max-width: 767px) {
  .popup__container {
    max-width: 282px;
  }
}
